@import 'reset.styl'
@import 'tomwork.functions.styl'

body
    background-color #222
    color #ffffff
    font-family sans-serif

button
    background transparent
    border 1px solid #ffffff
    color inherit
    cursor pointer
    font inherit
    outline 0
    padding .5em 1em
    transition .25s

    &:hover
        background #ffffff
        color #000000

h1
    font-size 2.5em

input, textarea, select
    border 0
    box-sizing border-box
    font inherit
    min-width 300px
    padding-left .4em
    resize none

input, select
    height 2em
    line-height 2

textarea
    height 4em

.form-field
    align-items center
    display flex
    margin-bottom 10px
    position relative

a
    font-color inherit
    text-decoration none

.form-field-alert
    background-color #cc0000
    font-color #ffffff
    height 100%
    left calc(100% + 1em)
    line-height 2
    padding-horizontal .4em
    position absolute
    top 0
    white-space nowrap
    z 1

    @media (max-width 1023px)
        bottom auto
        left 100px
        right auto
        top (2.3 * 1.5) em

    @media (max-width 599px)
        left 0
        top (2.3 * 2.5) em

    &:after
        border-bottom 1em transparent
        border-top 1em transparent
        border-right 1em solid #cc0000
        bottom 0
        content ''
        display block
        height 0
        left -1em
        margin auto
        position absolute
        top 0
        width 0

        @media (max-width 1023px)
            border-bottom-color $errorFontColor
            border-top 0
            border-vertical 1em transparent
            bottom auto
            left 10px
            top -1em
