@import 'reset.styl'
@import 'tomwork.functions.styl'
@import 'form.styl'

body
    background-color #222
    color #ffffff
    font-family sans-serif

button
    background transparent
    border 1px solid #ffffff
    box-sizing border-box
    color inherit
    cursor pointer
    font inherit
    outline 0
    padding .5em 1em
    transition .25s

    &:hover
        background #ffffff
        color #000000

h1
    font-size 2.5em

a
    font-color inherit
    text-decoration none
