.form-field-container
    display grid
    grid-template "a c"\
    "b d"\
    "e e"

.form-field
    &:first-child
        grid-area a

    &:nth-child(2)
        grid-area b

    &:nth-child(3)
        grid-area c

    &:nth-child(4)
        grid-area d

    &:nth-child(5)
        grid-area e

input, textarea, select
    border 0
    box-sizing border-box
    flex-grow 1
    font inherit
    min-width 300px
    padding-left .4em
    resize none

input, select
    height 2em
    line-height 2

textarea
    height 4em

.form-field
    align-items center
    display flex
    margin-bottom 10px
    position relative

.form-field-alert
    background-color #cc0000
    font-color #ffffff
    height 100%
    line-height 2
    padding-horizontal .4em
    position absolute
    top 0
    white-space nowrap
    z 1

    @media (max-width 1023px)
        bottom auto
        left 100px
        top (2.3 * 1.5) em

    @media (max-width 599px)
        left 0
        top (2.3 * 2.5) em

    &.left-sided
        right calc(100% + 1em)

        @media (max-width 1023px)
            right auto

        &:after
            border-left 1em #cc0000
            right -1em

    &.right-sided
        left calc(100% + 1em)

        @media (max-width 1023px)
            left auto

        &:after
            border-right 1em #cc0000
            left -1em

    &:after
        border-bottom 1em transparent
        border-top 1em transparent
        bottom 0
        content ''
        display block
        height 0
        margin auto
        position absolute
        top 0
        width 0

        @media (max-width 1023px)
            border-bottom-color $errorFontColor
            border-top 0
            border-vertical 1em transparent
            bottom auto
            left 10px
            top -1em

label
    box-sizing border-box
    padding-right 5px
    text-align right
    width 100px
